<!-- 这是首页轮播 -->
<section class="jk-slider">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example" data-slide-to="1"></li>
            <li data-target="#carousel-example" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <a href="#"><img src="http://placekitten.com/1600/600"/></a>
                <div class="hero">
                    <hgroup>
                        <h1>1 Search for</h1>
                        <h3>the books you need and save !
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                    </hgroup>

                </div>
            </div>
            <div class="item">
                <a href="#"><img src="http://placekitten.com/1600/600"/></a>
                <div class="hero">
                    <hgroup>
                        <h1>2 Search for</h1>
                        <h3>the books you need and save !
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                    </hgroup>

                </div>
            </div>
            <div class="item">
                <a href="#"><img src="http://placekitten.com/1600/600"/></a>
                <div class="hero">
                    <hgroup>
                        <h1>3 Search for</h1>
                        <h3>the books you need and save !
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                    </hgroup>

                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</section>
<!-- 这是首页轮播 完 -->


<!-- 这是接下来的四张图片 -->
<section class="section collections no-padding-bottom" id="home-collections">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 collection">
					<a href="#!">
						<img src="http://placekitten.com/1600/600" class="img-responsive" alt="">
					</a>
				</div><!-- /.collection -->
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 collection">
							<a href="#!">
								<img src="http://placekitten.com/1600/600" class="img-responsive" alt="">
							</a>
						</div><!-- /.collection -->
						<div class="col-sm-6 collection">
							<a href="#!">
								<img src="http://placekitten.com/1600/600" class="img-responsive" alt="">
							</a>
						</div><!-- /.collection -->
						<div class="col-sm-12 collection">
							<a href="#!">
								<img src="http://placekitten.com/1600/600" class="img-responsive" alt="">
							</a>
						</div><!-- /.collection -->
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.collections -->
  <!--完 这是接下来的四张图片  -->

  <!-- 接下来的3个保障 -->
  <section class="section promotions no-padding-bottom small-padding-top" id="promotions">
  		<div class="container">
  			<div class="row">
  				<div class="col-sm-4">
  					<div class="promotion media">
  						<div class="media-left media-middle">
  							<i class="fa fa-money fa-3x" aria-hidden="true"></i>
  						</div>
  						<div class="media-body">
  							<h3 class="media-heading">  Money Back</h3>
  							<p>  Lorem Ipsum is simply dummy text of the printing.</p>
  						</div>
  					</div>
  				</div>

  				<div class="col-sm-4">
  					<div class="promotion media">
  						<div class="media-left media-middle">
  							<i class="fa fa-globe fa-3x" aria-hidden="true"></i>
  						</div>
  						<div class="media-body">
  							<h3 class="media-heading">In Worldwide</h3>
  							<p>Lorem Ipsum is simply dummy text of the printing.</p>
  						</div>
  					</div>
  				</div>

  				<div class="col-sm-4">
  					<div class="promotion media">
  						<div class="media-left media-middle">
  							<i class="fa fa-truck fa-3x" aria-hidden="true"></i>
  						</div>
  						<div class="media-body">
  							<h3 class="media-heading">Free Shipping</h3>
  							<p>Lorem Ipsum is simply dummy text of the printing.</p>
  						</div>
  					</div>
  				</div>
  			</div><!-- /.row -->
  		</div><!-- /.container -->
  	</section><!-- /.promotions -->
    <!-- 完 接下来的3个保障 -->
