

<!--首页轮播图-->
<div class="container2">
    <div class="row">
        <div id="myCarousel" class="carousel  slide">
            <!-- Dot Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fctg4bwgl9j31040dw10b.jpg" class="img-responsive"></div>
                <div class="item">
                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fctg4jmp23j31040dwgrn.jpg" class="img-responsive"></div>
                <div class="item">
                    <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fctg4qbluvj31040dwqb5.jpg" class="img-responsive"></div>
            </div>
            <!-- Navigation -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

<!--首页轮播图下面的产品区域，有动画的部分-->
<section class="section collections no-padding-bottom" id="home-collections">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 collection">
                <a href="#!">
                    <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcpzssc403j30m80ciwh0.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!-- /.collection -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 collection">
                        <a href="#!">
                            <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcpzkuiv98j30b405k751.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <!-- /.collection -->
                    <div class="col-sm-6 collection">
                        <a href="#!">
                            <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcq01kwhmjj30b405kjs6.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <!-- /.collection -->
                    <div class="col-sm-12 collection">
                        <a href="#!">
                            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fcpzudly4ij30n206egmz.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <!-- /.collection -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.collections -->

<!-- /三大承诺 -->
<section class="section promotions no-padding-bottom small-padding-top" id="promotions">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Money Back</h3>
                        <p style="left: 100px;">Within 24 hour</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="fa fa-gratipay" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Save 25%/Order</h3>
                        <p style="left: 100px;">Spring Campaign</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Free Shipping</h3>
                        <p>With Purchase Over $50</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.promotions -->

<!-- /.product -->
<section class="section products second-style" id="home-products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title text-center">
                <h3>
                    <i class="line"></i>Latest Products<i class="line"></i>
                </h3>
                <p>We believe that we can build a successful company while maintaining our core principles of sustainability and philanthropy.</p>
            </div>
            <div class="col-sm-12">
                <div class="masonry row" style="position: relative; height: 900px;">
                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 0px;">
                        <!-- 图片1 -->
                        <div class="inner-product">
                            <span class="onsale" style="position: absolute; left: 50px;">Sale!</span>
                            <div class="product-thumbnail">
                                <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcsblwquxnj307c0a0q52.jpg" class="img-responsive" alt="">
                                <!-- 图片1 -->
                            </div>
                            <div class="product-details text-center">
                                <div class="product-btns">
                                    <!-- 三个小图标-->
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                        <!-- 如果咩有结尾的a, 就多出了一个圆圈-->
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title">
                            <a href="#!">Moda Vintage</a>
                        </h5>
                        <p class="product-price">
                            <ins>
                                <span class="amount">$66.50</span>
                            </ins>
                            <del>
                                <span class="amount">$150.00</span>
                            </del>
                        </p>
                    </div>
                    <!-- /.product -->

                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 212.5px; top: 0px;">
                        <!-- 图片2 -->
                        <!-- 调整left top 来调整绝对位置-->
                        <div class="inner-product">
                            <div class="product-thumbnail">
                                <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcsbmefmsoj307c0a00ui.jpg" class="img-responsive" style="margin-left: 80px;" alt="">
                                <!-- 图片2 -->
                                <!-- 调整 img-responsive -->
                            </div>
                            <div class="product-details text-center">
                                <div class="product-btns" style="margin-left: 80px;">
                                    <!-- 三个小图标-->
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                                        <!-- 加入购物车 -->
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
                                        <!-- 加入最喜爱 -->
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                        <!-- 加入观看-->
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title" style="margin-left: 135px;">
                            <a href="#!">Cute Panty</a>
                        </h5>
                        <p class="product-price">
                            <ins>
                                <span class="amount" style="margin-left: 135px;">$80.99</span>
                            </ins>
                        </p>
                    </div>
                    <!-- /.product -->

                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 585px; top: 0px;">
                        <!-- 图片3 -->
                        <div class="inner-product">
                            <span class="onsale new" style="position: absolute; left: 50px;">New!</span>
                            <div class="product-thumbnail">
                                <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcsbmtg6phj307c0a00uj.jpg" class="img-responsive" alt="">
                                <!-- 图片3 -->
                            </div>
                            <div class="product-details text-center">
                                <div class="product-btns">
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title">
                            <a href="#!">Lace Romper</a>
                        </h5>
                        <p class="product-price">
                            <ins>
                                <span class="amount">$99.99</span>
                            </ins>
                            <del>
                                <span class="amount">$150.00</span>
                            </del>
                        </p>
                    </div>
                    <!-- /.product -->
                    <!-- 图片3 -->

                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 875px; top: 0px;">
                        <!-- 图片4 -->
                        <div class="inner-product">
                            <div class="product-thumbnail">
                                <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcsbn4mbzmj307c0a0di8.jpg" class="img-responsive" alt=""><!-- 图片4 --></div>
                            <div class="product-details text-center">
                                <div class="product-btns">
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart" style="left: 42px; top: 75px;">
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites" style="left: 112px; top" : 40px;>
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Share" style="left: 182px; top: 5px;">
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title">
                            <a href="#!">Sportsuit</a>
                        </h5>
                        <p class="product-price">
                            <ins>
                                <span class="amount">$15.00</span>
                            </ins>
                            <del>
                                <span class="amount">$30.00</span>
                            </del>
                        </p>
                    </div>
                    <!-- /.product -->
                    <!-- 图片4 -->

                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 458px;">
                        <!-- 图片5 -->
                        <div class="inner-product">
                            <span class="onsale hot" style="position: absolute; left: 50px;">Hot!</span>
                            <div class="product-thumbnail">
                                <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcsd0bbrngj307c0a0jth.jpg" class="img-responsive" style="display: inline;" alt="">
                                <!-- 图片5 -->
                            </div>
                            <div class="product-details text-center">
                                <div class="product-btns">
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true" "fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title">
                            <a href="#!">Fringe Bkini</a>
                        </h5>
                        <p class="product-price">
                            <ins>
                                <span class="amount">$39.99</span>
                            </ins>
                            <del>
                                <span class="amount">$59.00</span>
                            </del>
                        </p>
                    </div>
                    <!-- /.product -->

                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 212.5px; top: 458px;">
                        <!-- 图片6 -->
                        <!-- md中等屏幕分成三栏 sm小屏幕分成6栏 xs超小屏幕分成12栏-->
                        <!-- 本来的方案是这里直接 left: 212.5px; top: 408px; 但是就会导致三个小图标和产品名字的位置偏移-->
                        <div class="inner-product">
                            <div class="product-thumbnail">
                                <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcscwwe68nj307c0a0acc.jpg" class="img-responsive" style="margin-left: 80px;" alt="">
                                <!-- 图片6 , margin这个是新增的  -->
                            </div>
                            <div class="product-details text-center">
                                <div class="product-btns" style="margin-left: 80px;">
                                    <!-- 因为与图片的有冲突 再怎么改变这里的位置数值都没有用，因为在这一层级三个图标是被当作一个整体在动，还是无法改变竖排的状况-->
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title" style="margin-left: 135px;">
                            <a href="#!">Boho Beach</a>
                        </h5>
                        <!-- margin的位置是新增的-->
                        <p class="product-price">
                            <ins>
                                <span class="amount" style="margin-left: 135px;">$49.99</span>
                                <!-- margin的位置是新增的-->
                            </ins>
                            <del>
                                <span class="amount">$79.00</span>
                            </del>
                        </p>
                    </div>
                    <!-- /.product -->

                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: relative; left: 585px; top: 458px;">
                        <!-- 图片7 -->
                        <div class="inner-product">
                            <div class="product-thumbnail">
                                <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcscwuzfhmj307c0a0dhs.jpg" class="img-responsive" style="display: inline; margin-left= 80px; " alt="">
                                <!-- 图片7 -->
                            </div>
                            <div class="product-details text-center">
                                <div class="product-btns">
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title">
                            <a href="#!">Lace Bikini</a>
                        </h5>
                        <p class="product-price">
                            <ins>
                                <span class="amount">$25.00</span>
                            </ins>
                        </p>
                    </div>
                    <!-- /.product -->

                    <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 875px; top: 458px;">
                        <!-- 图片8 -->
                        <div class="inner-product">
                            <div class="product-thumbnail">
                                <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcscwyu9snj307c0a0ac9.jpg" class="img-responsive" style="display: inline; margin-left= 80px; " alt=""><!-- 图片8 --></div>
                            <div class="product-details text-center">
                                <div class="product-btns">
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                                        <a href="#!" class="li-icon add-to-cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
                                        <a href="#!" class="li-icon">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                        <a href="product.html" class="li-icon view-details">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h5 class="product-title">
                            <a href="#!">Bralette Collection</a>
                        </h5>
                        <p class="product-price">
                            <ins>
                                <span class="amount">$75.99</span>
                            </ins>
                            <del>
                                <span class="amount">$150.00</span>
                            </del>
                        </p>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.masonry -->
            </div>
            <div class="col-sm-12 text-center">
                <a href="/products" class="btn btn-default" style="margin-top: 50px;">Show More</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.products -->

<section class="section brands no-padding-top" id="brands">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="logos" class="owl-carousel owl-theme owl-loaded">

                    <!-- /最下面一排的其他品牌logo -->

                    <!--  <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1703.25px;">
            <div class="owl-item active" style="width: 149.25px; margin-right: 40px;">
              <div class="item">
							<a href="#!"><img src="build/img/brands/5.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item active" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/6.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item active" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/4.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item active" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/7.png" class="img-responsive" alt=""></a>item">
							<a href="#!"><img src="build/img/brands/8.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/9.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/1.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/2.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/3.png" class="img-responsive" alt=""></a>
						</div></div></div></div><div class="owl-controls"><div class="owl-nav">
              <div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div>
            </div><div class="owl-dots" style="display: none;"></div></div></div>
				</div>
			</div>
		</div>
	</section><!-- /#brands -->

                    <footer class="footer">
                        <div class="container" style="position: relative; width: 80%; height: 150spx;">
                            <div class="widgets">
                                <div class="widget widget-newsletter" style="text-align: center;">
                                    <h3 class="widget-title" style="font-size: 40px; ">
                                        <a href="/products">Get Special Offers & More !!</a>
                                    </h3>
                                    <!-- COL-MD-3 限制了狂的大小-- >
						<ul class="social">
							<li><a href="#!" target="_blank"><<i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#!" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#!" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div><!-- ./widget -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.widgets -->
                        </div>
                        <!-- /.container -->
                        <div class="copy-right text-center" style="position: relative; text-align: center;">
                            <p>© Copyright 2017. All Rights Reserved. Powered by
                                <a href="#!" class="effect">Nata & Mengdi</a>
                            </p>
                        </div>
                    </footer>
                    <!-- /.footer -->

                    <!-- open/close -->
                    <div class="overlay overlay-simplegenie">
                        <i class="overlay-close lil-close"></i>
                        <div class="container">
                            <div class="row text-center pos-r">
                                <div class="col-md-7 col-xs-11 col-center col-height-center search-form" style="padding-top: 218.8px;">
                                    <form action="#!" method="POST" class="inputs-bg" id="searchform">
                                        <strong>Type a sentence or word you want to search for, And press Enter.</strong>
                                        <input type="text" name="q" class="form-control" placeholder="Search..">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.overlay -->

                    <!-- Go to top -->
                    <a href="#top" class="go-to-top">
                        <i class="lil-angle-double-down"></i>
                    </a>

                    <!-- All Theme Scripts -->
                    <!-- <script async="" src="//www.google-analytics.com/analytics.js"></script>
	<script type="text/javascript" src="build/js/min.js"></script> -->

                </div>
