<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>our show</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style media="screen">
            body {
                background-image: url('https://ooo.0o0.ooo/2017/02/19/58a926a0456de.jpg');
            }
            .blank{
              height: 100px;

            }
            .show {
                width: 100%;
                background-color: #aeb8bb;
                opacity: 0.7;
                padding: 15px; //让文字与背景有些空间
            }

            h1,
            h2,
            h3 {
                text-indent: 2cm;
                color: #deca9d；
            }
            .title{

              opacity: 0.7;
            }

            table {
                margin-top: 15px;
                background-color: #aeb8bb;

            }


        </style>
    </head>
    <body>
        <div class="row">
          <div class="blank">

          </div>
            <div class="show">
                <h1 >OUR SHOWS</h1>
            </div>
        </div>
        <br>
        <div class="title">
            <button type="button" class="btn btn-danger">性感系列</button>
        </div>
        <table class='table'>
            <tr>
                <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vuT_bXzhqhY" frameborder="0" allowfullscreen></iframe>
                </td>
                <td>

                    <img width="560" height="315" src="https://ooo.0o0.ooo/2017/02/17/58a7112cc212e.png" alt="WX20170217-230455.png" title="WX20170217-230455.png"/>

                </td>
                <td>
                  
                </td>
            </tr>
        </table>
        <div class="title">
          <center> <button type="button" class="btn btn-danger">泳衣系列</button></center>
          </div>
        <table class='table'>
            <tr>
                <td>
                      <img width="560" height="315" src="https://underarmour.scene7.com/is/image/Underarmour/170214_MISTY_LP_PRM?fmt=jpg&wid=1200" alt="">
                </td>
                <td>


                </td>
                <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eeafBPG6naM?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </td>
            </tr>
        </table>
        <div class="title" text-align=right>
                       <button type="button" class="btn btn-danger">健美系列</button>
        </div>
        <table class='table'>
            <tr>
                <td>

                </td>
                <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zS-hcjG2wQs" frameborder="0" allowfullscreen></iframe>
                </td>
                <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vuT_bXzhqhY" frameborder="0" allowfullscreen></iframe>
                </td>
            </tr>
        </table>
        <div class="get" style='margin-top:50px;margin-bottom:50px;'>
          <h3 class="widget-title" style="font-size: 40px; ">
              <a href="/products">Get Special Offers & More !!</a>
          </h3>
        </div>
        <div class="copy-right text-center" style="position: relative; text-align: center;">
            <p>© Copyright 2017. All Rights Reserved. Powered by
                <a href="#!" class="effect">Nata & Mengdi</a>
            </p>
        </div>
    </body>

</html>
