

<section id="buy" class="section" data-double-color="black">
  <div class="in">
    <div class="pic fadeInDown">
      <img src="http://barth.jp/images/pic_barth.png" alt="" width="240">
    </div>
    <div class="buy">
      <ul class="product">
        <li>
          <h4><span>900</span>RMB</h4>
          <div class="price">6<span>RMB（邮费）</span></div>
          <form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_1=order&return_url=http://barth.jp">
            数量：<select id="item_qty_1[qty]" name="item_qty_1[qty]">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
              <option value='8'>8</option>
              <option value='9'>9</option>
              <option value='10'>10</option>
              <option value='11'>11</option>
              <option value='12'>12</option>
              <option value='13'>13</option>
              <option value='14'>14</option>
              <option value='15'>15</option>
              <option value='16'>16</option>
              <option value='17'>17</option>
              <option value='18'>18</option>
              <option value='19'>19</option>
              <option value='20'>20</option>
            </select>
            <div class="btn"><input type="submit" value="立即购买" name="commit"/></div>
            </form>
            <form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_1=periodically_order&return_url=http://barth.jp">
            数量：<select id="item_qty_1[qty]" name="item_qty_1[qty]">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
              <option value='8'>8</option>
              <option value='9'>9</option>
              <option value='10'>10</option>
              <option value='11'>11</option>
              <option value='12'>12</option>
              <option value='13'>13</option>
              <option value='14'>14</option>
              <option value='15'>15</option>
              <option value='16'>16</option>
              <option value='17'>17</option>
              <option value='18'>18</option>
              <option value='19'>19</option>
              <option value='20'>20</option>
            </select>
            <div class="btn"><input type="submit" value="购买套餐" name="commit"/></div>
            </form>
        </li>
        <li>
          <h4><span>300</span>RMB</h4>
          <div class="price">6<span>RMB（邮费）</span></div>
          <form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_3=order&return_url=http://barth.jp">
            数量：<select id="item_qty_3[qty]" name="item_qty_3[qty]">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
              <option value='8'>8</option>
              <option value='9'>9</option>
              <option value='10'>10</option>
              <option value='11'>11</option>
              <option value='12'>12</option>
              <option value='13'>13</option>
              <option value='14'>14</option>
              <option value='15'>15</option>
              <option value='16'>16</option>
              <option value='17'>17</option>
              <option value='18'>18</option>
              <option value='19'>19</option>
              <option value='20'>20</option>
            </select>
            <div class="btn"><input type="submit" value="立即购买" name="commit"/></div>
            </form>
            <form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_3=periodically_order&return_url=http://barth.jp">
            数量：<select id="item_qty_3[qty]" name="item_qty_3[qty]">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
              <option value='8'>8</option>
              <option value='9'>9</option>
              <option value='10'>10</option>
              <option value='11'>11</option>
              <option value='12'>12</option>
              <option value='13'>13</option>
              <option value='14'>14</option>
              <option value='15'>15</option>
              <option value='16'>16</option>
              <option value='17'>17</option>
              <option value='18'>18</option>
              <option value='19'>19</option>
              <option value='20'>20</option>
            </select>
            <div class="btn"><input type="submit" value="购买套餐" name="commit"/></div>
            </form>
        </li>
        <li>
          <h4><span>900</span>RMB</h4>
          <div class="price">6<span>RMB（邮费）</span></div>
          <form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_4=order&return_url=http://barth.jp">
            数量：<select id="item_qty_4[qty]" name="item_qty_4[qty]">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
              <option value='8'>8</option>
              <option value='9'>9</option>
              <option value='10'>10</option>
              <option value='11'>11</option>
              <option value='12'>12</option>
              <option value='13'>13</option>
              <option value='14'>14</option>
              <option value='15'>15</option>
              <option value='16'>16</option>
              <option value='17'>17</option>
              <option value='18'>18</option>
              <option value='19'>19</option>
              <option value='20'>20</option>
            </select>
            <div class="btn"><input type="submit" value="立即购买" name="commit"/></div>
            </form>
            <form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_4=periodically_order&return_url=http://barth.jp">
            数量：<select id="item_qty_4[qty]" name="item_qty_4[qty]">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
              <option value='8'>8</option>
              <option value='9'>9</option>
              <option value='10'>10</option>
              <option value='11'>11</option>
              <option value='12'>12</option>
              <option value='13'>13</option>
              <option value='14'>14</option>
              <option value='15'>15</option>
              <option value='16'>16</option>
              <option value='17'>17</option>
              <option value='18'>18</option>
              <option value='19'>19</option>
              <option value='20'>20</option>
            </select>
            <div class="btn"><input type="submit" value="购买套餐" name="commit"/></div>
            </form>
        </li>
      </ul>
      <ul class="notes">
        <li>送料、手数料5,000円以上で無料</li>
        <li>二回目以降10％offのお得な定期便</li>
      </ul>
      <p><span>品名</span>：薬用BARTH中性重炭酸入浴剤　<span>原産地</span>： MADE IN GERMANY　<span>内容量</span>：9錠、30錠、90錠（160&#8467;のお湯に３錠を目安にご使用ください）　<span>特徴</span>： 無香料・無着色　<span>効能</span>：疲労回復・肩のこり・腰痛・冷え症・神経痛・リウマチ・痔・産前産後の冷え症・うちみ・くじき・あせも・しもやけ・荒れ性・ひび・あかぎれ・にきび・しっしん</p>
      <p>【有効成分】 炭酸水素ナトリウム、炭酸ナトリウム<br>
      【その他の成分】 無水クエン酸、PEG6000、ビタミンC・Na、他1成分</p>
    </div>
  </div>
  <ul id="ftNav">
    <li><a href="terms.html">ご利用規約</a></li>
    <li><a href="privacy.html">プライバシーポリシー</a></li>
    <li><a href="law.html">特定商取引法に基づく表記</a></li>
  </ul>
  <div class="company">
    <p>発売元：株式会社BARTH　<br class="spBr">東京都港区赤坂1-12-32 アーク森ビル35F<br>
    お問い合わせ：0120-993-854</p>
    <span class="copy">&copy; 2017 BARTH.</span>
  </div>
</section>
