<html lang="ja" class="fp-enabled wf-din2014-n3-active wf-din2014-n4-active wf-active translated-ltr" style="overflow: visible; width: 100%; height: 100%;"><head prefix="og: http://ogp.me/ns#">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible">
		<title>Neutral bicarbonate bath agent | BARTH</title>
		<meta name="description" content="Eberjey 2">
		<meta name="keywords" content="Eberjey 1">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

		<meta property="og:title" content="内衣｜Eberjey">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://barth.jp">
		<meta property="og:description" content="Eberjey 1">
		<meta property="og:image" content="images/ogp.png">
		<meta property="og:image:width" content="910">
		<meta property="og:image:height" content="354">

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">

		<link rel="icon" href="images/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">

		<script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vfliIHZm4/www-widgetapi.js" async=""></script>
      <script async="" src="https://www.google-analytics.com/analytics.js"></script>
      <script src="http://www.youtube.com/iframe_api"></script>
      <script src="https://use.typekit.net/onu6otu.js"></script>
		<style type="text/css">.tk-din-2014{font-family:"din-2014",sans-serif;}</style>
      <style type="text/css">@font-face{font-family:tk-din-2014-n3;src:url(https://use.typekit.net/af/0f6d3b/00000000000000003b9aee0c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff2"),url(https://use.typekit.net/af/0f6d3b/00000000000000003b9aee0c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff"),url(https://use.typekit.net/af/0f6d3b/00000000000000003b9aee0c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:tk-din-2014-n4;src:url(https://use.typekit.net/af/a87c36/00000000000000003b9aee0f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff2"),url(https://use.typekit.net/af/a87c36/00000000000000003b9aee0f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff"),url(https://use.typekit.net/af/a87c36/00000000000000003b9aee0f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("opentype");font-weight:400;font-style:normal;}</style><script>try{Typekit.load({ async: true });}catch(e){}</script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.0.js"></script>
	      <script src="js/jquery.easing.1.3.js"></script>
	      <script src="js/jquery.inview.min.js"></script>
	      <script src="js/jquery.fullPage.js"></script>
	      <script src="js/jquery.bxslider.min.js"></script>
	      <script src="js/jquery.tubular.1.0.js"></script>
		<script src="js/functions.js"></script>
		<script src="js/top.js"></script>
	<style type="text/css">@font-face{font-family:din-2014;src:url(https://use.typekit.net/af/0f6d3b/00000000000000003b9aee0c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff2"),url(https://use.typekit.net/af/0f6d3b/00000000000000003b9aee0c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff"),url(https://use.typekit.net/af/0f6d3b/00000000000000003b9aee0c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:din-2014;src:url(https://use.typekit.net/af/a87c36/00000000000000003b9aee0f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff2"),url(https://use.typekit.net/af/a87c36/00000000000000003b9aee0f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("woff"),url(https://use.typekit.net/af/a87c36/00000000000000003b9aee0f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&token=0NAeRm0IaYhBIaq0OtvSl3oc8fUmHRoTBqPJ%2B5R0%2FXU%3D) format("opentype");font-weight:400;font-style:normal;}</style><style type="text/css">.hcdict-btnclose,.hcdict-fixer{background-image: url('http://dict.cn/v/1.0.2/i1/plugins/resources/images/dict_chrome_icon01.png');}.hcdict-popcont{background-image: url('http://dict.cn/v/1.0.2/i1/plugins/resources/images/dict_chrome_bg.png');}</style><link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>


 <body class="fp-viewing-second-0" style="overflow: visible; width: 100%; height: 100%;">

		<div id="loading" class="" style="display: none; height: 594px;"><div class="loader"><font><font>Loading ...</font></font></div>
		    <div class="bubble move25 pos1"><div class="scale7"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move8 pos7"><div class="scale10"><div class="shake3"><span class="item stretch4"></span></div></div></div>
      	<div class="bubble move45 pos13"><div class="scale6"><div class="shake5"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move50 pos30"><div class="scale7"><div class="shake2"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move18 pos13"><div class="scale10"><div class="shake5"><span class="item stretch4"></span></div></div></div>
      	<div class="bubble move16 pos14"><div class="scale5"><div class="shake3"><span class="item stretch1"></span></div></div></div>
      	<div class="bubble move26 pos44"><div class="scale9"><div class="shake5"><span class="item stretch5"></span></div></div></div>
      	<div class="bubble move49 pos37"><div class="scale9"><div class="shake4"><span class="item stretch5"></span></div></div></div>
      	<div class="bubble move9 pos45"><div class="scale2"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move41 pos7"><div class="scale10"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move34 pos9"><div class="scale8"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move37 pos9"><div class="scale8"><div class="shake3"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move43 pos48"><div class="scale8"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move13 pos21"><div class="scale2"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move11 pos38"><div class="scale3"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move18 pos30"><div class="scale4"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move47 pos49"><div class="scale8"><div class="shake4"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move11 pos36"><div class="scale10"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move22 pos14"><div class="scale1"><div class="shake5"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move29 pos15"><div class="scale10"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move17 pos38"><div class="scale4"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move12 pos23"><div class="scale5"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move28 pos29"><div class="scale9"><div class="shake2"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move43 pos45"><div class="scale5"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move48 pos20"><div class="scale9"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move48 pos32"><div class="scale3"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move3 pos30"><div class="scale2"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move26 pos45"><div class="scale4"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move42 pos37"><div class="scale8"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move32 pos13"><div class="scale2"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move41 pos43"><div class="scale2"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move26 pos17"><div class="scale4"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move49 pos44"><div class="scale6"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move47 pos17"><div class="scale1"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move31 pos14"><div class="scale5"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move36 pos33"><div class="scale1"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move7 pos23"><div class="scale6"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move7 pos16"><div class="scale1"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move23 pos50"><div class="scale5"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move30 pos46"><div class="scale8"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move19 pos2"><div class="scale1"><div class="shake5"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move38 pos17"><div class="scale9"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move29 pos50"><div class="scale5"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move28 pos1"><div class="scale9"><div class="shake3"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move37 pos20"><div class="scale3"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move8 pos39"><div class="scale1"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move2 pos32"><div class="scale4"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move31 pos20"><div class="scale9"><div class="shake5"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move24 pos43"><div class="scale5"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move15 pos26"><div class="scale4"><div class="shake3"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move44 pos33"><div class="scale10"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move27 pos13"><div class="scale10"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move32 pos7"><div class="scale7"><div class="shake3"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move18 pos19"><div class="scale6"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move41 pos30"><div class="scale10"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move45 pos31"><div class="scale10"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move42 pos34"><div class="scale5"><div class="shake5"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move19 pos43"><div class="scale4"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move49 pos2"><div class="scale9"><div class="shake4"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move36 pos14"><div class="scale2"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move7 pos7"><div class="scale6"><div class="shake3"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move38 pos27"><div class="scale2"><div class="shake3"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move20 pos8"><div class="scale10"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move13 pos5"><div class="scale6"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move19 pos22"><div class="scale10"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move20 pos33"><div class="scale2"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move6 pos12"><div class="scale9"><div class="shake3"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move34 pos3"><div class="scale2"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move13 pos40"><div class="scale3"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move47 pos28"><div class="scale7"><div class="shake5"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move42 pos46"><div class="scale5"><div class="shake4"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move11 pos16"><div class="scale7"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move4 pos16"><div class="scale9"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move45 pos44"><div class="scale7"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move2 pos4"><div class="scale10"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move27 pos35"><div class="scale3"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move12 pos28"><div class="scale9"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move22 pos39"><div class="scale1"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move33 pos46"><div class="scale3"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move17 pos42"><div class="scale1"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move45 pos19"><div class="scale4"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move20 pos37"><div class="scale1"><div class="shake2"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move25 pos36"><div class="scale10"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move20 pos20"><div class="scale7"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move31 pos26"><div class="scale6"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move3 pos3"><div class="scale4"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move7 pos23"><div class="scale3"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move18 pos29"><div class="scale1"><div class="shake5"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move12 pos8"><div class="scale1"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move11 pos36"><div class="scale3"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move10 pos37"><div class="scale5"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move24 pos13"><div class="scale4"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move9 pos23"><div class="scale10"><div class="shake5"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move40 pos1"><div class="scale2"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move23 pos7"><div class="scale1"><div class="shake5"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move11 pos39"><div class="scale9"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move43 pos40"><div class="scale6"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move40 pos39"><div class="scale4"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move37 pos29"><div class="scale10"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move40 pos50"><div class="scale5"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move35 pos18"><div class="scale10"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move50 pos46"><div class="scale2"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move13 pos40"><div class="scale2"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move19 pos42"><div class="scale10"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move4 pos30"><div class="scale7"><div class="shake3"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move10 pos14"><div class="scale3"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move41 pos40"><div class="scale8"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move48 pos16"><div class="scale7"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move29 pos2"><div class="scale7"><div class="shake4"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move41 pos20"><div class="scale8"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move34 pos34"><div class="scale7"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move4 pos33"><div class="scale4"><div class="shake3"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move3 pos11"><div class="scale10"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move31 pos17"><div class="scale9"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move36 pos34"><div class="scale4"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move42 pos3"><div class="scale10"><div class="shake4"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move3 pos18"><div class="scale6"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move35 pos31"><div class="scale8"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move1 pos27"><div class="scale4"><div class="shake2"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move35 pos7"><div class="scale9"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move33 pos41"><div class="scale4"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move33 pos11"><div class="scale10"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move44 pos29"><div class="scale10"><div class="shake4"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move29 pos30"><div class="scale3"><div class="shake4"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move7 pos48"><div class="scale5"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move10 pos18"><div class="scale8"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move49 pos3"><div class="scale7"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move23 pos17"><div class="scale6"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move14 pos23"><div class="scale10"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move4 pos18"><div class="scale3"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move41 pos42"><div class="scale4"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move21 pos42"><div class="scale3"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move47 pos6"><div class="scale8"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move11 pos7"><div class="scale8"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move1 pos27"><div class="scale2"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move40 pos45"><div class="scale1"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move31 pos33"><div class="scale7"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move41 pos37"><div class="scale3"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move41 pos2"><div class="scale7"><div class="shake5"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move32 pos22"><div class="scale2"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move3 pos25"><div class="scale10"><div class="shake5"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move14 pos8"><div class="scale9"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move40 pos44"><div class="scale1"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move26 pos35"><div class="scale3"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move46 pos36"><div class="scale8"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move28 pos12"><div class="scale6"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move18 pos36"><div class="scale10"><div class="shake5"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move22 pos1"><div class="scale6"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move37 pos28"><div class="scale10"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move48 pos7"><div class="scale2"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move32 pos45"><div class="scale9"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move20 pos26"><div class="scale9"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move5 pos18"><div class="scale3"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move36 pos25"><div class="scale5"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move28 pos9"><div class="scale1"><div class="shake2"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move46 pos21"><div class="scale5"><div class="shake2"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move20 pos32"><div class="scale5"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move23 pos39"><div class="scale4"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move12 pos26"><div class="scale4"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move41 pos27"><div class="scale6"><div class="shake4"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move17 pos42"><div class="scale3"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move38 pos49"><div class="scale8"><div class="shake1"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move44 pos14"><div class="scale4"><div class="shake1"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move30 pos22"><div class="scale2"><div class="shake3"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move40 pos24"><div class="scale4"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move25 pos21"><div class="scale1"><div class="shake3"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move39 pos29"><div class="scale10"><div class="shake2"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move29 pos29"><div class="scale1"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move23 pos31"><div class="scale2"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move43 pos43"><div class="scale2"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move36 pos48"><div class="scale7"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move44 pos1"><div class="scale3"><div class="shake5"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move34 pos14"><div class="scale3"><div class="shake3"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move1 pos28"><div class="scale4"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move37 pos33"><div class="scale8"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move46 pos44"><div class="scale9"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move6 pos24"><div class="scale10"><div class="shake3"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move37 pos5"><div class="scale1"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move30 pos48"><div class="scale7"><div class="shake4"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move6 pos41"><div class="scale10"><div class="shake4"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move18 pos39"><div class="scale6"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move14 pos6"><div class="scale1"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move15 pos48"><div class="scale9"><div class="shake2"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move23 pos47"><div class="scale7"><div class="shake5"><span class="item stretch3"></span></div></div></div>
        <div class="bubble move8 pos16"><div class="scale10"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move12 pos18"><div class="scale3"><div class="shake2"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move35 pos47"><div class="scale3"><div class="shake4"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move24 pos32"><div class="scale1"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move36 pos42"><div class="scale2"><div class="shake5"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move45 pos20"><div class="scale9"><div class="shake3"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move12 pos18"><div class="scale2"><div class="shake4"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move1 pos37"><div class="scale3"><div class="shake1"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move50 pos11"><div class="scale2"><div class="shake2"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move19 pos45"><div class="scale8"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move45 pos3"><div class="scale10"><div class="shake3"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move50 pos45"><div class="scale8"><div class="shake3"><span class="item stretch4"></span></div></div></div>
        <div class="bubble move22 pos18"><div class="scale10"><div class="shake1"><span class="item stretch2"></span></div></div></div>
        <div class="bubble move17 pos28"><div class="scale3"><div class="shake5"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move47 pos16"><div class="scale5"><div class="shake1"><span class="item stretch5"></span></div></div></div>
        <div class="bubble move13 pos48"><div class="scale5"><div class="shake4"><span class="item stretch1"></span></div></div></div>
        <div class="bubble move40 pos6"><div class="scale9"><div class="shake4"><span class="item stretch2"></span></div></div></div>
    </div>

		<div id="after" style="opacity: 1;">
		<div id="menuBtn">
			<span></span>
			<span></span>
			<span></span>
		</div>

<!-- 主菜单 -->
		<div id="spMenu" class="mnScaleDown">
			<nav class="in">
				<h1 id="menuLogo"><a href="#top"></a></h1>
				<ul>
					<li><a href="#about"><font><font>What is BARTH</font></font></a></li>
					<li><a href="#point"><font><font>Characteristic</font></font></a></li>
					<li><a href="#howto"><font><font>Hot bathing method</font></font></a></li>
					<li><a href="#effect"><font><font>effect</font></font></a></li>
					<li><a href="faq.html"><font><font>FAQ</font></font></a></li>
					<li><a href="#buy"><font><font>To buy</font></font></a></li>
				</ul>
			</nav>
		</div>

<!-- 主菜单和下面页面的一一对应 -->
		<header>
			<h1 id="" class="double-color">
        <div class="double-color-white" style="overflow: hidden; display: none; position: relative; left: 0px; top: 0px; height: auto;"><a href="#first"></a></div>
        <div class="double-color-black" style="overflow: hidden; display: block; position: relative; left: 0px; top: 0px; height: auto;"><a href="#first"></a></div>
      </h1>
			<nav id="gnav" class="double-color">
        <div class="double-color-white" style="overflow: hidden; display: none; position: relative; left: 0px; top: 0px; height: auto;">
				  <ul id="menu">
					  <li data-menuanchor="second" class="active"><a href="#second"><font><font>What is BARTH</font></font></a></li>
					  <li data-menuanchor="fifth" class=""><a href="#fifth"><font><font>Characteristic</font></font></a></li>
					  <li data-menuanchor="sixth"><a href="#sixth"><font><font>Hot bathing method</font></font></a></li>
					  <li data-menuanchor="seventh"><a href="#seventh"><font><font>effect</font></font></a></li>
					  <li data-menuanchor="sixth"><a href="faq.html"><font><font>FAQ</font></font></a></li>
				  </ul>
			  </div>
        <div class="double-color-black" style="overflow: hidden; display: block; position: relative; left: 0px; top: 0px; height: auto;">
				  <ul id="menu">
					  <li data-menuanchor="second"><a href="#second"><font><font>What is BARTH</font></font></a></li>
					  <li data-menuanchor="fifth" class=""><a href="#fifth"><font><font>Characteristic</font></font></a></li>
					  <li data-menuanchor="sixth" class=""><a href="#sixth"><font><font>Hot bathing method</font></font></a></li>
					  <li data-menuanchor="seventh"><a href="#seventh"><font><font>effect</font></font></a></li>
					  <li data-menuanchor="sixth" class=""><a href="faq.html"><font><font>FAQ</font></font></a></li>
				  </ul>
			  </div>
      </nav>
			<span id="cart" class="double-color">
        <div class="double-color-white" style="overflow: hidden; display: none; position: relative; left: 0px; top: 0px; height: auto;"><a href="#eighth"><font><font>To buy</font></font></a></div>
        <div class="double-color-black" style="overflow: hidden; display: block; position: relative; left: 0px; top: 0px; height: auto;"><a href="#eighth"><font><font>To buy</font></font></a></div>
      </span>
		</header>

<!--首页视频无法播放和链接， 对应的样式在295行左右-->
		<div id="myVideo" style="position: relative; z-index: 0;">
        <div id="tubular-container" style="overflow: hidden; position: fixed; z-index: 0; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
           <iframe id="tubular-player" style="position: relative; width: 1275px; height: 580px; right: -20px; top: 0px;" frameborder="0" allowfullscreen="1" title="YouTube video player" width="1440" height="810"
             src="https://www.youtube.com/embed/OoCau1Gpc0E?vq=large&amp;controls=0&amp;showinfo=0&amp;modestbranding=1&amp;wmode=transparent&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fbarth.jp&amp;widgetid=1">
           </iframe>
        </div>
            <div id="tubular-shield" style="width: 100%; height: 100%; z-index: 1; position: absolute; left: 0; top: 0;"></div>
    </div>

		<article id="main" class="fullpage-wrapper" style="height: 100%; position: relative;">
			<section id="top" class="section full fp-section fp-table" data-double-color="black" style="height: 594px;" data-anchor="first"><div class="fp-tableCell" style="height: 594px;">
				<div id="hero"></div>
				<h2 class="fadeInUp setFadeInUp">
              <img src="http://barth.jp/images/logo_large.png" alt="Barth" width="428">
            </h2>
				<a class="arrow setArrowDown" href="#second">
              <img src="http://barth.jp/images/arrow01.png" alt="" width="40">
            </a>
			</div></section>

			<section id="about" class="section fp-section active fp-completely" data-double-color="black" data-anchor="second" style="height: 594px;">
				<div class="fp-slides"><div class="fp-slidesContainer" style="width: 300%; transition: all 700ms ease; transform: translate3d(0px, 0px, 0px);"><div class="slide fp-slide fp-table active" style="width: 33.3333%;"><div class="fp-tableCell" style="height: 594px;">
					<div class="in">
						<h3><font></font><br><font><font>I </font></font><br class="pcBr"><font><font>would like to change the bath </font><font>from the place to heal the body to the place to </font><font>be reborn for tomorrow </font><font>.</font></font></h3>
						<p><font><font>Entering a bath is </font></font><br><font><font>
						part of our life. </font></font><br><font><font>
						In addition to not only getting tired of the day, </font><font>
						it has been nurtured as a culture that has various aspects as a place </font><font>
						to spend amusement and family time </font></font><br><font><font>
						sometimes as a place to heal diseases </font><font>.</font></font><br><font></font><br><font></font></p>
					</div>
				</div></div><div class="slide fp-slide fp-table" style="width: 33.3333%;"><div class="fp-tableCell" style="height: 594px;">
					<div class="in">
						<p><font><font>Meanwhile, in modern times, as a result of pursuing time and seeking </font></font><br class="pcBr"><font><font>
						efficiency, it has fallen into a condition that can not take enough time even in the bath.</font></font></p>
						<p><font><font>I </font><font>
						want to change </font></font><br><font><font>
						the time of the bath to a more valuable thing and a </font></font><br><font><font>more luxurious and meaningful experience as such now. </font></font><br><font><font>
						With that feeling</font></font><ruby><font><font>BARTH</font></font><rt><font><font>Bath</font></font></rt></ruby><font><font>I was born.</font></font></p>
					</div>
				</div></div><div class="slide fp-slide fp-table" style="width: 33.3333%;"><div class="fp-tableCell" style="height: 594px;">
					<div class="in">
						<h3><ruby><font><font>BARTH</font></font><rt><font><font>Bath</font></font></rt></ruby><font><font>Will create new value for the bath.</font></font></h3>
					</div>
				</div></div></div></div><div class="fp-controlArrow fp-prev" style="display: none;"></div><div class="fp-controlArrow fp-next"></div>


			<div class="fp-slidesNav bottom" style="margin-left: -75px;"><ul><li><a href="#" class="active"><span></span></a></li><li><a href="#"><span></span></a></li><li><a href="#"><span></span></a></li></ul></div></section>

			<section class="section fp-section fp-table" data-double-color="black" data-anchor="third" style="height: 594px;"><div class="fp-tableCell" style="height: 594px;">
				<div class="in">
					<div class="pic fadeInDown setFadeInDown">
						<img src="http://barth.jp/images/pic_barth.png" alt="" width="240">
					</div>
					<div class="text">
						<h2><font><font>RECOVERY &amp; TREAT</font></font></h2>
						<p><ruby><font><font>BARTH</font></font><rt><font><font>Bath</font></font></rt></ruby><font><font>I did not use any coloring or fragrance at all, </font></font><br><font><font>
						I scraped off extra things and condensed the </font></font><br><font><font>
						toxicity of neutral heavy bicarbonate spring. </font><font>
						We </font></font><br><font><font>
						will offer RECOVERY - experience of recovering fatigue of hair, skin, and body </font></font><br><font><font>, and will change the bath to more luxurious time - TREAT -.</font></font></p>
					</div>
				</div>
			</div></section>

			<section class="section fp-section fp-table" data-double-color="white" data-anchor="fourth" style="height: 594px;"><div class="fp-tableCell" style="height: 594px;">
				<div class="bg bgZoom setBgZoom"></div>
				<div class="in fadeIn setFadeIn">
					<h3><font><font>What is neutral bicarbonate spring?</font></font><span class="bar setBar"></span></h3>
					<p><font><font>Neutral heavy bicarbonate springs have been attracting attention since ancient times at quartort facilities (natural recreation facilities) such as Bad Nauheim and Bad Krozingen, famous for German hot spring resort areas. </font><font>Health maintenance, recovery from fatigue, recovery from injury and illness, etc. There are many benefits and it is utilized for various purposes. </font></font><br><font><font>
"Carbon dioxide spring" which is generally said to exist widely in the world, "Neutral heavy carbonated spring" is only in several places, including Germany, rare and special "carbonated spring" worldwide. </font><font>This "neutral heavy bicarbonate spring" which can be realized by dissolving carbon dioxide discharged in a high pressure environment at 1000 m underground into hot water is said to be the key to health and longevity.</font></font></p>
				</div>
			</div></section>

			<section id="point" class="section fp-section fp-table" data-double-color="black" data-anchor="fifth" style="height: 594px;"><div class="fp-tableCell" style="height: 594px;">
				<div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 1051px;"><ul id="slider" style="width: auto; position: relative;">
					<li style="float: none; list-style: none; position: absolute; z-index: 50; display: block; width: 479px;">
						<div class="in">
							<div class="left">
								<div class="text fadeInUp setFadeInUp">
									<h3><span><font><font>POINT 1</font></font></span><font><font> Neutral bicarbonate</font></font></h3>
									<section>
										<h4><font><font>Proprietary technology realizing neutral bicarbonate</font></font><span class="bar setBar"></span></h4>
										<p><font><font>The active ingredient of the carbonated spring is bicarbonate of carbonic acid which comes out from the tablet, but actually it is bicarbonate ion which carbonic acid gas dissolves into hot water. </font><font>In order for this bicarbonate ion to melt firmly into hot water, it is important that the hot water is neutral. </font><font>BARTH controls the reaction timing of these two components in hot water by molding baking soda and citric acid with unique solidification technology, keeps hot water neutral, rich in bicarbonate ion and dissolves in hot water We realize that.</font></font></p>
									</section>
									<section>
										<h4><font><font>Because it is neutral, rich bicarbonate ion</font></font><span class="bar setBar"></span></h4>
										<p><font><font>Carbon dioxide generated when BARTH tablets melt is instantaneously transformed into bicarbonate ion in neutral hot water, it abundantly dissolves in hot water and remains for a long time. </font><font>Since bicarbonate ion exerts its effect irrespective of hot water temperature, by immersing in hot water of easy to enter for a long time, it encourages blood circulation, supports fatigue recovery and body temperature rise.</font></font></p>
									</section>
								</div>
							</div>
							<div class="right">
								<div class="bg bgScaleDown setBgScaleDown"></div>
								<a href="#point" class="next panRight"></a>
							</div>
						</div>
					</li>
					<li style="float: none; list-style: none; position: absolute; z-index: 0; display: none; width: 479px;">
						<div class="in">
							<div class="left">
								<div class="text fadeInUp">
									<h3><span><font><font>POINT 2</font></font></span><font><font> Citric acid</font></font></h3>
									<section>
										<h4><font><font>Citric acid formulation made from natural product</font></font><span class="bar"></span></h4>
										<p><font><font>BARTH uses citric acid obtained by fermentation of natural products (starch) rather than petroleum synthesis. </font><font>Citric acid is highly reactive, it is said to be very difficult to form tablets with sodium bicarbonate, but realized to stabilize with proprietary manufacturing technology. </font><font>Citric acid gives a soft sprinkle, softens the texture of the skin, and brings about a beautiful skin effect.</font></font></p>
									</section>
									<h3><span><font><font>POINT 3</font></font></span><font><font> Vitamin C</font></font></h3>
									<section>
										<h4><font><font>Neutralize chlorine, Vitamin C formulation</font></font><span class="bar"></span></h4>
										<p><font><font>Tap water used in general households contains a lot of chlorine. </font><font>BARTH neutralizes chlorine in tap water by incorporating vitamin C, and realizes a nice and stimulating hot water. </font><font>For those with sensitive skin, children can relax with soft hot water.</font></font></p>
									</section>
								</div>
							</div>
							<div class="right">
								<div class="bg bgScaleDown setBgScaleDown"></div>
								<a href="#point" class="prev panLeft"></a>
							</div>
						</div>
					</li>
				</ul></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href=""><font><font>Prev </font></font></a><a class="bx-next" href=""><font><font>Next</font></font></a></div></div></div>
			</div></section>

			<section id="howto" class="section fp-section fp-table" data-double-color="white" data-anchor="sixth" style="height: 594px;"><div class="fp-tableCell" style="height: 594px;">
				<div class="in">
					<div class="left">
						<div class="text fadeInUp setFadeInUp">
							<h3><font><font>HOW TO TAKE</font></font></h3>
							<h4><img src="images/logo_large_wh.png" alt="" width="235"></h4>
							<h5><font><font>Baryne carbonate barneotreatment hot bath method</font></font></h5>
							<section>
								<h6><font><font>What is the bivalent carbonate valeotreatment hot bath method</font></font><span class="bar setBar"></span></h6>
								<p><font><font>The hot bath (bicarbonate carbonneotreatment bathing method) in the bicarbonate spring that has healed people since ancient times is a new bathing method that aims at a body temperature of 36.5 ° C or more called healthy body temperature. </font><font>It is said that blood flow and body temperature are important health indicators for prevention of diseases and elongation of healthy life span. When body temperature exceeds 36.5 ° C, not only does immunity increase but also internal organ function increases I will. </font><font>In the baryne carbonate bath neotreatment bathing method, the body's blood flow at bathing is higher than bathing with tap water, so you can expect not only bathing but also various health benefits.</font></font></p>
							</section>
							<section>
								<h6><font><font>How to enter the baryne carbonate neo treatment hot bath method</font></font></h6>
								<ul>
									<li><font><font>1. Melt 3 tablets in 160 liters of lukewarm water (37 ~ 40 ℃) which is difficult to stimulate the sympathetic nerve.</font></font></li>
									<li><font><font>2. Blood flow increases at 10 minutes after bathing. </font><font>Bathing for more than 15 minutes is recommended.</font></font></li>
									<li><font><font>3. Please gently soak body and scalp in hot water.</font></font></li>
									<li><font><font>4. You can use it for shampooing and washing your face.</font></font></li>
								</ul>
							</section>
						</div>
					</div>
					<div class="right">
						<div class="spGraph"><img src="images/sp_graph.png" alt=""></div>
						<div class="bg1"></div>
						<div class="bg2"></div>
						<div class="bg3 graph3 setGraph3"></div>
						<div class="bg4 graph4 setGraph4"></div>
						<h3><font><font>Change in bath time and blood flow (38 ° C)</font></font></h3>
					</div>
				</div>
			</div></section>

			<section id="effect" class="section fp-section fp-table" data-double-color="white" data-anchor="seventh" style="height: 594px;"><div class="fp-tableCell" style="height: 594px;">
				<div class="in fadeInUp">
					<div class="left">
						<h3><font><font>The effect of baryne carbonate neotreatment warm bath method</font></font></h3>
						<section>
							<h4><font><font>Improvement of metabolism and emission of waste products</font></font><span class="bar"></span></h4>
							<p><font><font>Blood flow is called health infrastructure, and it has a great influence on immunity and body metabolism. </font><font>Baryne carbonate bicarbonate treatment that is immersed firmly in lukewarm bicarbonate for a long time The blood flow rate rises with the hot bath method, which leads to improvement of metabolism from the rise of body temperature. </font><font>In addition, by promoting sweating, it discharges waste that tends to accumulate in pores and the like with sweat. </font><font>By steadily increasing the metabolic power that underlies the body and clearly releasing waste products, it brings various health benefits.</font></font></p>
						</section>
						<section>
							<h4><font><font>Recovery from fatigue</font></font><span class="bar"></span></h4>
							<p><font><font>Disorder of the sympathetic nerve caused by stimulation such as the blood flow of the body and the light received at night is a cause of chronic fatigue for modern people. </font><font>Prompt blood flow by immersing firmly in hot water of bicarbonate, parasympathetic nerve dominates by body temperature rising. </font><font>At the same time, smooth delivery of nutritional substances into the body will alleviate tired mind and body, and will be ready to sleep soundly. </font><font>This also leads to the function of regulating autonomic nerves, and it is expected to be effective for recovery of daily fatigue.</font></font></p>
						</section>
					</div>
					<div class="right">
						<section>
							<h4><font><font>Recovery to bare skin with clean texture of texture</font></font><span class="bar"></span></h4>
							<p><font><font>Your skin organization has been replaced approximately every three months by metabolism. </font><font>By gently rubbing and disentangling, it cleans off unnecessary grease and dirt of the pore pocket without roughening the skin, and it prepares the texture of the skin. </font><font>Toner is also easy to familiarize, you can feel the skin moist. </font><font>In addition, due to the neutralization effect of chlorine by vitamin C, it is possible to use it even with small children and sensitive skin.</font></font></p>
							<span class="img"><img src="images/img_effect01.png" alt="" width="175"></span>
						</section>
						<section>
							<h4><font><font>Recovery to supple hair</font></font><span class="bar"></span></h4>
							<p><font><font>By pouring hot water of bicarbonate on the scalp and disentangling it, pore pocket opens, rinsing the hair and scalp dirty and the original of the odor firmly, keeping supple and original natural hair quality. </font><font>Give hair firmness to the hair, clean hair and scalp dirt, mineral sebum dirt that becomes the source of smell cleanly, suppress dandruff · kayumi as well.</font></font></p>
							<span class="img"><img src="images/img_effect02.png" alt="" width="163"></span>
						</section>
					</div>
				</div>
			</div></section>

			<section id="buy" class="section fp-section fp-table" data-double-color="black" data-anchor="eighth" style="height: 594px;"><div class="fp-tableCell" style="height: 594px;">
				<div class="in">
					<div class="pic fadeInDown">
						<img src="images/pic_barth.png" alt="" width="240">
					</div>
					<div class="buy">
						<ul class="product">
							<li>
								<h4><span><font><font>9</font></font></span><font><font> tablets</font></font></h4>
								<div class="price"><font><font>900 </font></font><span><font><font>yen (excluding tax)</font></font></span></div>
								<form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_1=order&amp;return_url=http://barth.jp"><font><font>
									quantity:</font></font><select id="item_qty_1[qty]" name="item_qty_1[qty]">
										<option value="1"><font><font>1</font></font></option>
										<option value="2"><font><font>2</font></font></option>
										<option value="3"><font><font>3</font></font></option>
										<option value="4"><font><font>Four</font></font></option>
										<option value="5"><font><font>Five</font></font></option>
										<option value="6"><font><font>6</font></font></option>
										<option value="7"><font><font>7</font></font></option>
										<option value="8"><font><font>8</font></font></option>
										<option value="9"><font><font>9</font></font></option>
										<option value="10"><font><font>Ten</font></font></option>
										<option value="11"><font><font>11</font></font></option>
										<option value="12"><font><font>12</font></font></option>
										<option value="13"><font><font>13</font></font></option>
										<option value="14"><font><font>14</font></font></option>
										<option value="15"><font><font>15</font></font></option>
										<option value="16"><font><font>16</font></font></option>
										<option value="17"><font><font>17</font></font></option>
										<option value="18"><font><font>18</font></font></option>
										<option value="19"><font><font>19</font></font></option>
										<option value="20"><font><font>20</font></font></option>
									</select>
									<div class="btn"><font><font><input type="submit" value="To buy" name="commit"></font></font></div>
						      	</form>
						      	<form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_1=periodically_order&amp;return_url=http://barth.jp"><font><font>
									quantity:</font></font><select id="item_qty_1[qty]" name="item_qty_1[qty]">
										<option value="1"><font><font>1</font></font></option>
										<option value="2"><font><font>2</font></font></option>
										<option value="3"><font><font>3</font></font></option>
										<option value="4"><font><font>Four</font></font></option>
										<option value="5"><font><font>Five</font></font></option>
										<option value="6"><font><font>6</font></font></option>
										<option value="7"><font><font>7</font></font></option>
										<option value="8"><font><font>8</font></font></option>
										<option value="9"><font><font>9</font></font></option>
										<option value="10"><font><font>Ten</font></font></option>
										<option value="11"><font><font>11</font></font></option>
										<option value="12"><font><font>12</font></font></option>
										<option value="13"><font><font>13</font></font></option>
										<option value="14"><font><font>14</font></font></option>
										<option value="15"><font><font>15</font></font></option>
										<option value="16"><font><font>16</font></font></option>
										<option value="17"><font><font>17</font></font></option>
										<option value="18"><font><font>18</font></font></option>
										<option value="19"><font><font>19</font></font></option>
										<option value="20"><font><font>20</font></font></option>
									</select>
									<div class="btn"><font><font><input type="submit" value="regular service" name="commit"></font></font></div>
						      	</form>
							</li>
							<li>
								<h4><span><font><font>30</font></font></span><font><font> tablets</font></font></h4>
								<div class="price"><font><font>2,500 </font></font><span><font><font>yen (excluding tax)</font></font></span></div>
								<form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_3=order&amp;return_url=http://barth.jp"><font><font>
									quantity:</font></font><select id="item_qty_3[qty]" name="item_qty_3[qty]">
										<option value="1"><font><font>1</font></font></option>
										<option value="2"><font><font>2</font></font></option>
										<option value="3"><font><font>3</font></font></option>
										<option value="4"><font><font>Four</font></font></option>
										<option value="5"><font><font>Five</font></font></option>
										<option value="6"><font><font>6</font></font></option>
										<option value="7"><font><font>7</font></font></option>
										<option value="8"><font><font>8</font></font></option>
										<option value="9"><font><font>9</font></font></option>
										<option value="10"><font><font>Ten</font></font></option>
										<option value="11"><font><font>11</font></font></option>
										<option value="12"><font><font>12</font></font></option>
										<option value="13"><font><font>13</font></font></option>
										<option value="14"><font><font>14</font></font></option>
										<option value="15"><font><font>15</font></font></option>
										<option value="16"><font><font>16</font></font></option>
										<option value="17"><font><font>17</font></font></option>
										<option value="18"><font><font>18</font></font></option>
										<option value="19"><font><font>19</font></font></option>
										<option value="20"><font><font>20</font></font></option>
									</select>
									<div class="btn"><font><font><input type="submit" value="To buy" name="commit"></font></font></div>
						      	</form>
						      	<form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_3=periodically_order&amp;return_url=http://barth.jp"><font><font>
									quantity:</font></font><select id="item_qty_3[qty]" name="item_qty_3[qty]">
										<option value="1"><font><font>1</font></font></option>
										<option value="2"><font><font>2</font></font></option>
										<option value="3"><font><font>3</font></font></option>
										<option value="4"><font><font>Four</font></font></option>
										<option value="5"><font><font>Five</font></font></option>
										<option value="6"><font><font>6</font></font></option>
										<option value="7"><font><font>7</font></font></option>
										<option value="8"><font><font>8</font></font></option>
										<option value="9"><font><font>9</font></font></option>
										<option value="10"><font><font>Ten</font></font></option>
										<option value="11"><font><font>11</font></font></option>
										<option value="12"><font><font>12</font></font></option>
										<option value="13"><font><font>13</font></font></option>
										<option value="14"><font><font>14</font></font></option>
										<option value="15"><font><font>15</font></font></option>
										<option value="16"><font><font>16</font></font></option>
										<option value="17"><font><font>17</font></font></option>
										<option value="18"><font><font>18</font></font></option>
										<option value="19"><font><font>19</font></font></option>
										<option value="20"><font><font>20</font></font></option>
									</select>
									<div class="btn"><font><font><input type="submit" value="regular service" name="commit"></font></font></div>
						      	</form>
							</li>
							<li>
								<h4><span><font><font>90</font></font></span><font><font> tablets</font></font></h4>
								<div class="price"><font><font>6,000 </font></font><span><font><font>yen (excluding tax)</font></font></span></div>
								<form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_4=order&amp;return_url=http://barth.jp"><font><font>
									quantity:</font></font><select id="item_qty_4[qty]" name="item_qty_4[qty]">
										<option value="1"><font><font>1</font></font></option>
										<option value="2"><font><font>2</font></font></option>
										<option value="3"><font><font>3</font></font></option>
										<option value="4"><font><font>Four</font></font></option>
										<option value="5"><font><font>Five</font></font></option>
										<option value="6"><font><font>6</font></font></option>
										<option value="7"><font><font>7</font></font></option>
										<option value="8"><font><font>8</font></font></option>
										<option value="9"><font><font>9</font></font></option>
										<option value="10"><font><font>Ten</font></font></option>
										<option value="11"><font><font>11</font></font></option>
										<option value="12"><font><font>12</font></font></option>
										<option value="13"><font><font>13</font></font></option>
										<option value="14"><font><font>14</font></font></option>
										<option value="15"><font><font>15</font></font></option>
										<option value="16"><font><font>16</font></font></option>
										<option value="17"><font><font>17</font></font></option>
										<option value="18"><font><font>18</font></font></option>
										<option value="19"><font><font>19</font></font></option>
										<option value="20"><font><font>20</font></font></option>
									</select>
									<div class="btn"><font><font><input type="submit" value="To buy" name="commit"></font></font></div>
						      	</form>
						      	<form method="post" action="http://store.barth.jp/shop/add_to_cart/?item_id_4=periodically_order&amp;return_url=http://barth.jp"><font><font>
									quantity:</font></font><select id="item_qty_4[qty]" name="item_qty_4[qty]">
										<option value="1"><font><font>1</font></font></option>
										<option value="2"><font><font>2</font></font></option>
										<option value="3"><font><font>3</font></font></option>
										<option value="4"><font><font>Four</font></font></option>
										<option value="5"><font><font>Five</font></font></option>
										<option value="6"><font><font>6</font></font></option>
										<option value="7"><font><font>7</font></font></option>
										<option value="8"><font><font>8</font></font></option>
										<option value="9"><font><font>9</font></font></option>
										<option value="10"><font><font>Ten</font></font></option>
										<option value="11"><font><font>11</font></font></option>
										<option value="12"><font><font>12</font></font></option>
										<option value="13"><font><font>13</font></font></option>
										<option value="14"><font><font>14</font></font></option>
										<option value="15"><font><font>15</font></font></option>
										<option value="16"><font><font>16</font></font></option>
										<option value="17"><font><font>17</font></font></option>
										<option value="18"><font><font>18</font></font></option>
										<option value="19"><font><font>19</font></font></option>
										<option value="20"><font><font>20</font></font></option>
									</select>
									<div class="btn"><font><font><input type="submit" value="regular service" name="commit"></font></font></div>
						      	</form>
							</li>
						</ul>
						<ul class="notes">
							<li><font><font>Free shipping fee of 5,000 yen or more</font></font></li>
							<li><font><font>A reasonable regular flight of 10% off after the second time</font></font></li>
						</ul>
						<p><span><font><font>Name</font></font></span><font><font> : Medicinal BARTH neutral bicarbonate bath agent　</font></font><span><font><font>Place of Origin</font></font></span><font><font> : MADE IN GERMANY　</font></font><span><font><font>Contents</font></font></span><font><font> : 9 tablets, 30 tablets, (please use a guide 3 tablets in hot water of 160ℓ) 90 tablets　</font></font><span><font><font>feature</font></font></span><font><font> : No fragrance-free coloring　</font></font><span><font><font>efficacy</font></font></span><font><font> : fatigue Recovery · shoulder stiffness · low back pain · coldness · neuralgia · rheumatism · hemorrhoids · coldness after childbirth · crying · whippery · rash · frostbite · roughness · crack · chapping · chapping · acne · shisen</font></font></p>
						<p><font><font>【Active ingredient】 Sodium bicarbonate, sodium carbonate </font></font><br><font><font>
						【Other ingredients】 Anhydrous citric acid, PEG 6000, vitamin C · Na, other 1 component</font></font></p>
					</div>
				</div>
				<ul id="ftNav">
					<li><a href="terms.html"><font><font>Terms of Service</font></font></a></li>
					<li><a href="privacy.html"><font><font>privacy policy</font></font></a></li>
					<li><a href="law.html"><font><font>Notation based on Specified Commercial Transactions Law</font></font></a></li>
				</ul>
				<div class="company">
					<p><font></font><br class="spBr"><font><font>Publisher </font><font>: BARTH,　</font><font>Tokyo Minato-ku, Akasaka 1-12-32 Ark Mori Building 35F </font></font><br><font><font>
					Contact: 0120-993-854</font></font></p>
					<span class="copy"><font><font>© 2017 BARTH.</font></font></span>
				</div>
			</div></section>
		</article>
		</div>

<div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Translate"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Original text</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Contribute a better translation</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div><div id="hcDictContainer" style="display: none;"><div class="hcdict-poptop" id="hcdict-poptop" onselectstart="return false">   <span class="hcdict-toptitle" id="hcdict-toptitle" title="" onselectstart="return false"></span><span class="hcdict-topdetail"><a id="hcdict-detail" href="" target="_blank"><font><font>Details &gt;&gt;</font></font></a></span><span class="hcdict-btnclose" id="hcdict-btnClose" title="Recruitment (esc)"></span></div><div class="hcdict-popcont" id="hcdict-popcont">   <iframe id="hcDictContent" scrolling="no" frameborder="0" allowtransparency="false" src="about:blank"></iframe></div><div class="hcdict-popbottom" id="hcdict-popbottom">   <div class="hcdict-fixer" id="hcdict-fixer" title="Stagnation position"></div>   <div class="hcdict-btm-adwrapper">         <div class="hcdict-btm-ad" id="hcdict-btm-ad">                   <div slot="39">&nbsp;</div>         </div>      </div></div></div><div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body></html>
