<!--首页轮播图源代码-->

<div class="swiper-slider">
		<!-- Slider main container -->
		<div class="swiper-container fullscreen swiper-container-horizontal swiper-container-fade" style="height: 1270px;">
		    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper text-center" style="transition-duration: 300ms;"><div class="swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;build/img/slides/03.jpg&quot;); width: 1024px; transform: translate3d(0px, 0px, 0px); opacity: 1; transition-duration: 300ms;" data-swiper-slide-index="2">
		        	<div class="valign-wrapper fullscreen" style="height: 1270px;">
		        		<div class="valign col-xs-offset-5">
		        		</div>
		        	</div>
		        </div>
		        <!-- Slides -->
		        <div class="swiper-slide swiper-slide-prev" style="background-image: url(&quot;build/img/slides/01.jpg&quot;); width: 1024px; transform: translate3d(-1024px, 0px, 0px); opacity: 1; transition-duration: 300ms;" data-swiper-slide-index="0">
		        	<div class="valign-wrapper fullscreen" style="height: 1270px;">
		        		<div class="valign col-xs-offset-3" data-swiper-parallax="-100" style="transform: translate3d(-100px, 0px, 0px); transition-duration: 300ms;">
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;build/img/slides/02.jpg&quot;); width: 1024px; transform: translate3d(-2048px, 0px, 0px); opacity: 1; transition-duration: 300ms;" data-swiper-slide-index="1">
		        	<div class="valign-wrapper fullscreen" style="height: 1270px;">
		        		<div class="valign col-xs-offset-8" data-swiper-parallax="-100" style="transform: translate3d(0px, 0px, 0px); transition-duration: 300ms;">
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide swiper-slide-next" style="background-image: url(&quot;build/img/slides/03.jpg&quot;); width: 1024px; transform: translate3d(-3072px, 0px, 0px); opacity: 0; transition-duration: 300ms;" data-swiper-slide-index="2">
		        	<div class="valign-wrapper fullscreen" style="height: 1270px;">
		        		<div class="valign col-xs-offset-5">
		        		</div>
		        	</div>
		        </div>
		    <div class="swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;build/img/slides/01.jpg&quot;); width: 1024px; transform: translate3d(-4096px, 0px, 0px); opacity: 0; transition-duration: 300ms;" data-swiper-slide-index="0">
		        	<div class="valign-wrapper fullscreen" style="height: 1270px;">
		        		<div class="valign col-xs-offset-3" data-swiper-parallax="-100" style="transform: translate3d(100px, 0px, 0px); transition-duration: 300ms;">
		        		</div>
		        	</div>
		        </div></div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
		    <!-- If we need navigation buttons -->
		    <div class="swiper-button-prev"><i class="lil-chevron_left"></i></div>
		    <div class="swiper-button-next"><i class="lil-chevron_right"></i></div>
		</div>
	</div>








<!-- 图片2的源代码 -->

<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 242px; top: 0px;">
							<div class="inner-product">
								<div class="product-thumbnail">
									<img src="build/img/products/24.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Shoes Maroon</a></h3>
							<div class="star-rating">
								<span style="width:20%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$80.99</span>
								</ins>
							</p>
						</div>

<!-- 图片6的源代码 -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 242px; top: 408px;">
													<div class="inner-product">
														<div class="product-thumbnail">
															<img src="build/img/products/12.jpg" class="img-responsive" alt="">
														</div>
														<div class="product-details text-center">
															<div class="product-btns">
																<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
																	<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
																</span>
																<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
																	<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
																</span>
																<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
																	<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
																</span>
															</div>
														</div>
													</div>
													<h3 class="product-title"><a href="#!">Twill Silk Scarf</a></h3>
													<div class="star-rating">
														<span style="width:90%"></span>
													</div>
													<p class="product-price">
														<ins>
															<span class="amount">$49.99</span>
														</ins>
													</p>
												</div>

<!-- note: section promotions 是三个promise的 -->
<section class="section promotions no-padding-bottom small-padding-top" id="promotions">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="promotion media">
						<div class="media-left media-middle">
							<i class="lil-local_atm"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">Money Back</h3>
							<p>Lorem Ipsum is simply dummy text of the printing.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="promotion media">
						<div class="media-left media-middle">
							<i class="lil-public"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">In Worldwide</h3>
							<p>Lorem Ipsum is simply dummy text of the printing.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="promotion media">
						<div class="media-left media-middle">
							<i class="lil-local_shipping"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">Free Shipping</h3>
							<p>Lorem Ipsum is simply dummy text of the printing.</p>
						</div>
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
