<html class="js csstransitions" lang='en-US'>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sham - Creative Shopping Theme</title>

	<!-- Load Fonts -->
	<link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Inconsolata:300,400,500,700|Unica+One:300,400,500,700">
	<!-- All theme style -->
	<link rel="stylesheet" type="text/css" media="all" href="build/css/min.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
<style type="text/css">.fancybox-margin{margin-right:0px;}</style>
</head>

<body class=" pace-done">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
      <div class="pace-activity"></div>
  </div>
  <!-- pace pace-inactive 和 nav-container XXXX 是同级的-->

	<div class="nav-container navbar-fixed-top nav-sticky">
  <!-- 删掉了sub_navbar -->
	    <nav class="navbar navbar-default">
	      	<div class="container">
	        	<div class="navbar-header">
              <!-- 这里吧button 和 icon-bar的内容删除了-->
			        <a class="navbar-brand" href="index.html">
			          	<img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcnuijys9qj302f00q3yc.jpg" alt="Eberjey">
			        </a>
	        	</div>
            <ul class="navbar-nav navbar-icons">
            <li class="shopping-cart">
                  <a href="#!" class="li-icon" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      <i class="lil-shopping_cart"></i>
                  </a>
                  <ul class="dropdown-menu"></ul>
                  <!-- 删除了购物车下拉菜单，但没找到显示购物车和搜索icon的方法-->
            </li>
              <li><a href="#!" class="li-icon" id="trigger-overlay"><i class="lil-search"></i></a></li>
            </ul>

            <!-- 这里是home那一部分的开始菜单-->
	        	<div id="navbar" class="navbar-collapse collapse">
				    <ul class="nav navbar-nav navbar-left">
				        <li class="active">
				            <a href="index.html" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">FEATURED<i class="caret"></i></a>
				            <ul class="dropdown-menu">
                    <!--这里的dropdown-menu好像没有在css里做定义，是购物车下拉单里用过的-->
				                <li class="active"><a href="index.html">SALE</a></li>
				                <li><a href="index-2.html">WHAT'S NEW</a></li>
				                <li><a href="index-3.html">BEST SELLERS</a></li>
				                <!-- <li><a href="index-4.html#instagram">BEST SELLERS</a></li> -->
				            </ul>
				        </li>
				        <li>
				            <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">GIFT GUIDE<i class="caret"></i></a>
				            <ul class="dropdown-menu">
				                <li><a href="products.html">FOR YOUR LOVER</a></li>
				                <li><a href="products-with-filter.html">FOR YOUR BFF</a></li>
				                <li><a href="products-sidebar-left.html">FOR YOUR MOM</a></li>
				                <li><a href="products-sidebar-right.html">FOR YOUR SISTER</a></li>
				                <li><a href="product.html">...</a></li>
				            </ul>
				        </li>
				        <li>
				            <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">INTIMATES<i class="caret"></i></a>
				            <ul class="dropdown-menu">
				                <li><a href="wishlist.html">BARSt</a></li>
				                <li><a href="cart.html">BODYSUITS</a></li>
				                <li><a href="checkout.html">SLIPS</a></li>
				                <li><a href="order-received.html">PANTIES</a></li>
				                <!-- <li><a href="order-tracking.html">OTHERS</a></li> -->
				            </ul>
				        </li>
                <li>
                    <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">OTHER LOVELIES <i class="caret"></i></a>
                </li>
				        <li>
				            <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">LOOKBOOKS<i class="caret"></i></a>
				            <ul class="dropdown-menu">
				                <li><a href="page.html">HOLIDAY 2017</a></li>
				                <li><a href="login-register.html">FALL 2016</a></li>
				                <li><a href="404.html">PRE-FALL 2016</a></li>
				                <!-- <li><a href="faqs.html">FAQ'S</a></li> -->
				            </ul>
				        </li>
				        <!-- <li><a href="about.html">About</a></li> -->
				        <!-- <li><a href="contact.html">Contact</a></li> -->
				    </ul>
			    </div><!--/.nav-collapse -->
	      	</div><!--/.container -->
	    </nav>
	</div><!-- /.nav-container -->

	<div class="swiper-slider">
		<!-- Slider main container -->
		<div class="swiper-container fullscreen swiper-container-horizontal swiper-container-fade swiper-container-android" style="height: 547px;">
		    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper text-center" style="transition-duration: 0ms;">
          <div class="swiper-slide swiper-slide-duplicate"
               style="background-image: url(https://www.eberjey.com/media/catalog/product/e/b/eberjey-hol16_e_0238.jpg);
               align="center"; width: 449px; transform: translate3d(0px, 0px, 0px); opacity: 1; transition-duration: 0ms;"
               data-swiper-slide-index="2">
		        	<div class="valign-wrapper fullscreen">
		        		<div class="valign col-xs-offset-5">
		        		</div>
		        	</div>
		        </div>
		        <!-- Slides -->
		        <div class="swiper-slide swiper-slide-prev"
                 style="background-image: url(https://www.eberjey.com/media/catalog/product/l/o/lottie_bralet_and_bikini.jpg);
                 width: 747px; transform: translate3d(-747px, 0px, 0px); opacity: 1; transition-duration: 0ms;"
                 data-swiper-slide-index="0">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-3" data-swiper-parallax="-100" style="transform: translate3d(-100px, 0px, 0px); transition-duration: 0ms;">
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;build/img/slides/02.jpg&quot;); width: 747px; transform: translate3d(-1494px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="1">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-8" data-swiper-parallax="-100" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide swiper-slide-next" style="background-image: url(&quot;build/img/slides/03.jpg&quot;); width: 747px; transform: translate3d(-2241px, 0px, 0px); opacity: 0; transition-duration: 0ms;" data-swiper-slide-index="2">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-5">
		        		</div>
		        	</div>
		        </div>
		    <div class="swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;build/img/slides/01.jpg&quot;); width: 747px; transform: translate3d(-2988px, 0px, 0px); opacity: 0; transition-duration: 0ms;" data-swiper-slide-index="0">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-3" data-swiper-parallax="-100" style="transform: translate3d(100px, 0px, 0px); transition-duration: 0ms;">
		        		</div>
		        	</div>
		        </div></div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
		    <!-- If we need navigation buttons -->
		    <div class="swiper-button-prev"><i class="lil-chevron_left"></i></div>
		    <div class="swiper-button-next"><i class="lil-chevron_right"></i></div>
		</div>
	</div><!-- /.swiper-slider -->

	<section class="section collections no-padding-bottom" id="home-collections">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 collection">
					<a href="#!">
						<img src="build/img/collections/01.jpg" class="img-responsive" alt="">
					</a>
				</div><!-- /.collection -->
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6 collection">
							<a href="#!">
								<img src="build/img/collections/02.jpg" class="img-responsive" alt="">
							</a>
						</div><!-- /.collection -->
						<div class="col-sm-6 collection">
							<a href="#!">
								<img src="build/img/collections/03.jpg" class="img-responsive" alt="">
							</a>
						</div><!-- /.collection -->
						<div class="col-sm-12 collection">
							<a href="#!">
								<img src="build/img/collections/04.jpg" class="img-responsive" alt="">
							</a>
						</div><!-- /.collection -->
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.collections -->

	<section class="section promotions no-padding-bottom small-padding-top" id="promotions">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="promotion media">
						<div class="media-left media-middle">
							<i class="lil-local_atm"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">Money Back</h3>
							<p>Lorem Ipsum is simply dummy text of the printing.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="promotion media">
						<div class="media-left media-middle">
							<i class="lil-public"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">In Worldwide</h3>
							<p>Lorem Ipsum is simply dummy text of the printing.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="promotion media">
						<div class="media-left media-middle">
							<i class="lil-local_shipping"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">Free Shipping</h3>
							<p>Lorem Ipsum is simply dummy text of the printing.</p>
						</div>
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.promotions -->

	<section class="section products second-style" id="home-products">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 section-title text-center">
					<h3><i class="line"></i>Latest Products<i class="line"></i></h3>
					<p>Lorem Ipsum is simply dummy text.</p>
				</div>
				<div class="col-sm-12">
					<div class="masonry row" style="position: relative; height: 8453.52px;">
						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 0px;">
							<div class="inner-product">
								<span class="onsale">Sale!</span>
								<div class="product-thumbnail">
									<img src="build/img/products/2.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Bag Dark Beige</a></h3>
							<div class="star-rating">
								<span style="width:90%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$66.50</span>
								</ins>
								<del>
									<span class="amount">$150.00</span>
								</del>
							</p>
						</div><!-- /.product -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 1056px;">
							<div class="inner-product">
								<div class="product-thumbnail">
									<img src="build/img/products/24.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Shoes Maroon</a></h3>
							<div class="star-rating">
								<span style="width:20%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$80.99</span>
								</ins>
							</p>
						</div><!-- /.product -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 2113px;">
							<div class="inner-product">
								<span class="onsale new">New!</span>
								<div class="product-thumbnail">
									<img src="build/img/products/3.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Unisex Cap</a></h3>
							<div class="star-rating">
								<span style="width:65%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$99.99</span>
								</ins>
							</p>
						</div><!-- /.product -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 3170px;">
							<div class="inner-product">
								<div class="product-thumbnail">
									<img src="build/img/products/4.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Hands winter</a></h3>
							<div class="star-rating">
								<span style="width:50%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$15.00</span>
								</ins>
							</p>
						</div><!-- /.product -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 4226px;">
							<div class="inner-product">
								<span class="onsale hot">Hot!</span>
								<div class="product-thumbnail">
									<img src="build/img/products/1.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Patterned Scarf</a></h3>
							<div class="star-rating">
								<span style="width:70%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$39.99</span>
								</ins>
							</p>
						</div><!-- /.product -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 5283px;">
							<div class="inner-product">
								<div class="product-thumbnail">
									<img src="build/img/products/12.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Twill Silk Scarf</a></h3>
							<div class="star-rating">
								<span style="width:90%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$49.99</span>
								</ins>
							</p>
						</div><!-- /.product -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 6340px;">
							<div class="inner-product">
								<div class="product-thumbnail">
									<img src="build/img/products/20.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Men Cap</a></h3>
							<div class="star-rating">
								<span style="width:90%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$25.00</span>
								</ins>
							</p>
						</div><!-- /.product -->

						<div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1" style="position: absolute; left: 0px; top: 7396px;">
							<div class="inner-product">
								<div class="product-thumbnail">
									<img src="build/img/products/22.jpg" class="img-responsive" alt="">
								</div>
								<div class="product-details text-center">
									<div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
									</div>
								</div>
							</div>
							<h3 class="product-title"><a href="#!">Bag Maroon</a></h3>
							<div class="star-rating">
								<span style="width:90%"></span>
							</div>
							<p class="product-price">
								<ins>
									<span class="amount">$75.99</span>
								</ins>
							</p>
						</div><!-- /.product -->
					</div><!-- /.masonry -->
				</div>
				<div class="col-sm-12 text-center">
					<a href="#!" class="btn btn-default">Show More</a>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.products -->

	<section class="section brands no-padding-top" id="brands">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div id="logos" class="owl-carousel owl-theme owl-loaded">









					<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1703.25px;"><div class="owl-item active" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/5.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item active" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/6.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item active" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/4.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item active" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/7.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/8.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/9.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/1.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/2.png" class="img-responsive" alt=""></a>
						</div></div><div class="owl-item" style="width: 149.25px; margin-right: 40px;"><div class="item">
							<a href="#!"><img src="build/img/brands/3.png" class="img-responsive" alt=""></a>
						</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style="display: none;"></div></div></div>
				</div>
			</div>
		</div>
	</section><!-- /#brands -->

	<footer class="footer">
		<div class="container">
			<div class="widgets">
				<div class="row">
					<div class="col-sm-3 widget widget-about">
						<h3 class="widget-title">Sham</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div><!-- ./widget -->
					<div class="col-sm-3 widget widget-links">
						<h3 class="widget-title">My Account</h3>
						<div class="row">
							<ul class="col-xs-6">
								<li><a href="#!" class="effect">My Account</a></li>
								<li><a href="#!" class="effect">My Order</a></li>
								<li><a href="#!" class="effect">My Wishlist</a></li>
								<li><a href="#!" class="effect">My Profile</a></li>
								<li><a href="#!" class="effect">My Address</a></li>
								<li><a href="#!" class="effect">My Products</a></li>
							</ul>
							<ul class="col-xs-6">
								<li><a href="#!" class="effect">About Us</a></li>
								<li><a href="#!" class="effect">Contact</a></li>
								<li><a href="#!" class="effect">Payment</a></li>
								<li><a href="#!" class="effect">Blog</a></li>
								<li><a href="#!" class="effect">FAQ's</a></li>
								<li><a href="#!" class="effect">Order</a></li>
							</ul>
						</div>
					</div><!-- ./widget -->
					<div class="col-sm-3 widget widget-instagram">
						<h3 class="widget-title">Instagram</h3>
						<ul class="row">
							<li class="col-xs-4">
								<a href="#!">
									<img src="build/img/products/23.jpg" class="img-responsive" alt="">
								</a>
							</li>
							<li class="col-xs-4">
								<a href="#!">
									<img src="build/img/products/20.jpg" class="img-responsive" alt="">
								</a>
							</li>
							<li class="col-xs-4">
								<a href="#!">
									<img src="build/img/products/18.jpg" class="img-responsive" alt="">
								</a>
							</li>
							<li class="col-xs-4">
								<a href="#!">
									<img src="build/img/products/19.jpg" class="img-responsive" alt="">
								</a>
							</li>
							<li class="col-xs-4">
								<a href="#!">
									<img src="build/img/products/24.jpg" class="img-responsive" alt="">
								</a>
							</li>
							<li class="col-xs-4">
								<a href="#!">
									<img src="build/img/products/12.jpg" class="img-responsive" alt="">
								</a>
							</li>
						</ul>
					</div><!-- /.widget -->
					<div class="col-sm-3 widget widget-newsletter">
						<h3 class="widget-title">Join our Newsletter</h3>
						<form action="#!" method="POST" class="inputs-border clearfix">
							<div class="form-group">
								<input type="email" name="email" placeholder="Your Email" class="form-control" autocomplete="off">
								<button type="submit" class="btn btn-primary"><i class="lil-long-arrow-right"></i></button>
							</div>
						</form>
						<ul class="social">
							<li><a href="#!" target="_blank"><i class="lil-facebook"></i></a></li>
							<li><a href="#!" target="_blank"><i class="lil-twitter"></i></a></li>
							<li><a href="#!" target="_blank"><i class="lil-instagram"></i></a></li>
							<li><a href="#!" target="_blank"><i class="lil-dribbble"></i></a></li>
						</ul>
					</div><!-- ./widget -->
				</div><!-- /.row -->
			</div><!-- /.widgets -->
		</div><!-- /.container -->
		<div class="copy-right text-center">
			<p>© Copyright 2016. All Rights Reserved. Created by <a href="#!" class="effect">Liliom</a></p>
		</div>
	</footer><!-- /.footer -->

	<!-- open/close -->
	<div class="overlay overlay-simplegenie">
		<i class="overlay-close lil-close"></i>
		<div class="container">
			<div class="row text-center pos-r">
				<div class="col-md-7 col-xs-11 col-center col-height-center search-form" style="padding-top: 218.8px;">
					<form action="#!" method="POST" class="inputs-bg" id="searchform">
						<strong>Type a sentence or word you want to search for, And press Enter.</strong>
						<input type="text" name="q" class="form-control" placeholder="Search..">
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.overlay -->

	<!-- Go to top -->
	<a href="#top" class="go-to-top">
		<i class="lil-angle-double-down"></i>
	</a>

	<!-- All Theme Scripts -->
	<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="build/js/min.js"></script>

</body>
