<nav class="navbar navbar-default">
  ::before
	      	<div class="container">
            ::before
	        	<div class="navbar-header">
              ::before
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="index.html">
			          	<img src="build/img/logo.svg" alt="Sham Theme">
			        </a>
              ::after
	        	</div>
	        	<ul class="navbar-nav navbar-icons">
			    	<li class="shopping-cart">
			            <a href="#!" class="li-icon" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
			                <i class="lil-shopping_cart">
                        ::before
                      </i>
                      <span class="badge">4</span>
                        ::after
			            </a>

			            <ul class="dropdown-menu">
			                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                        <div class="dropdown-wrap" slim-scroll="√" style="overflow: hidden; width: auto; height: 250px;">
			                    <li>
			                        <a href="product.html"><img src="build/img/products/2.jpg" class="img-responsive product-img" alt=""></a>
			                        <div class="product-details">
			                            <p class="product-title clearfix">
                                    ::before
                                    <a href="product.html">Bag Dark Beige</a></p>
                                    ::after
			                            <p class="product-price clearfix">
                                    ::before
											              <ins>
												              <span class="amount">$66.50</span>
											              </ins>
                                    ::after
										              </p>
			                          </div>
			                    </li>
			                    <li>
			                        <a href="product.html"><img src="build/img/products/24.jpg" class="img-responsive product-img" alt=""></a>
			                        <div class="product-details">
			                            <p class="product-title clearfix">
                                    ::before
                                    <a href="product.html">Shoes Maroon</a>
                                    ::after
                                  </p>
			                            <div class="product-price clearfix">
                                    ::before
                                    $80.99
                                    ::after
                                  </div>
			                        </div>
			                    </li>
			                    <li>
			                        <a href="product.html"><img src="build/img/products/3.jpg" class="img-responsive product-img" alt=""></a>
			                        <div class="product-details">
			                            <p class="product-title clearfix">
                                    ::before
                                    <a href="product.html">Unisex Cap</a>
                                    ::after
                                  </p>
			                            <div class="product-price clearfix">
                                    ::before
                                    $99.99
                                    ::after
                                  </div>
			                        </div>
			                    </li>
			                    <li>
			                        <a href="product.html"><img src="build/img/products/12.jpg" class="img-responsive product-img" alt=""></a>
			                        <div class="product-details">
			                            <p class="product-title clearfix"><a href="product.html">Twill Silk Scarf</a></p>
			                            <div class="product-price clearfix">
                                    ::before
                                    $49.99
                                    ::after
                                  </div>
			                        </div>
			                    </li>
<!-- 87到150是后面拷贝加入的-->
                          <div class="dropdown-wrap" slim-scroll="√" style="overflow: hidden; width: auto; height: 250px;">
                            <li>
                                <a href="product.html"><img src="build/img/products/2.jpg" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix">
                                      ::before
                                      <a href="product.html">Bag Dark Beige</a>
                                      ::after
                                    </p>
                                    <p class="product-price clearfix">
                                      ::before
                                      <ins>
                                         <span class="amount">$66.50</span>
                                      </ins>
                                      ::after
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="product.html"><img src="build/img/products/24.jpg" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix">
                                      ::before
                                      <a href="product.html">Shoes Maroon</a>
                                      ::after
                                    </p>
                                    <div class="product-price clearfix">
                                      ::before
                                      $80.99
                                      ::after
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="product.html"><img src="build/img/products/3.jpg" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix">
                                      ::before
                                      <a href="product.html">Unisex Cap</a>
                                      ::after
                                    </p>
                                    <div class="product-price clearfix">
                                      ::before
                                      $99.99
                                      ::after
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="product.html"><img src="build/img/products/12.jpg" class="img-responsive product-img" alt=""></a>
                                <div class="product-details">
                                    <p class="product-title clearfix">
                                      ::before
                                      <a href="product.html">Twill Silk Scarf</a>
                                      ::after
                                    </p>
                                    <div class="product-price clearfix">
                                      ::before
                                      $49.99
                                      ::after
                                    </div>
                                </div>
                            </li>
                          </div>
<!-- 87到150是后面拷贝加入的-->
                        </div> <!-- 这个对应28行的div-->
                      </div> <!-- 这个对应27行的div-->
                      <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 153.941px;"></div>
                      <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>

                      <li class="dropdown-footer">
				                <a href="cart.html">View Cart</a>
			                </li>
			            </ul>

			        </li> <!-- 对应18-->
			        <li>
                <a href="#!" class="li-icon" id="trigger-overlay">
                  <i class="lil-search">
                    ::before
                  </i>
                </a>
              </li>
			    </ul>
	        	<div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
              ::before
				    <ul class="nav navbar-nav navbar-left">
              ::before
				        <li class="active">
				            <a href="index.html" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Home<i class="caret"></i></a>
				            <ul class="dropdown-menu">
				                <li class="active"><a href="index.html">Home Default</a></li>
				                <li><a href="index-2.html">Home Default Slider</a></li>
				                <li><a href="index-3.html">Home Overlay Products</a></li>
				                <li><a href="index-4.html#instagram">Home instagram section</a></li>
				            </ul>
				        </li>
				        <li class="">
				            <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Shop <i class="caret"></i></a>
				            <ul class="dropdown-menu">
				                <li><a href="products.html">Full Width Shop</a></li>
				                <li><a href="products-with-filter.html">Shop With Filter</a></li>
				                <li><a href="products-sidebar-left.html">Sidebar Left</a></li>
				                <li><a href="products-sidebar-right.html">Sidebar Right</a></li>
				                <li><a href="product.html">Simple Product</a></li>
				            </ul>
				        </li>
				        <li class="">
				            <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">eCommerce Pages <i class="caret"></i></a>
				            <ul class="dropdown-menu">
				                <li><a href="wishlist.html">Wishlist</a></li>
				                <li><a href="cart.html">Cart</a></li>
				                <li><a href="checkout.html">Checkout</a></li>
				                <li><a href="order-received.html">Order Received</a></li>
				                <li><a href="order-tracking.html">Order Tracking</a></li>
				            </ul>
				        </li>
				        <li class="">
				            <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Pages <i class="caret"></i></a>
				            <ul class="dropdown-menu">
				                <li><a href="page.html">Page Default</a></li>
				                <li><a href="login-register.html">Login / Register</a></li>
				                <li><a href="404.html">Not Found (404)</a></li>
				                <li><a href="faqs.html">FAQ'S</a></li>
				            </ul>
				        </li>
				        <li><a href="about.html">About</a></li>
				        <li><a href="contact.html">Contact</a></li>
				    </ul>
			    </div><!--/.nav-collapse -->
	      	</div><!--/.container -->
	    </nav>
