<!-- note: swiper-slider 好像是定义navbar + 图片轮播区的内容的 >
<div class="swiper-slider">
		<!-- Slider main container -->
		<div class="swiper-container fullscreen swiper-container-horizontal swiper-container-fade swiper-container-android" style="height: 547px;">
		    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper text-center" style="transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" style="background-image: url(&quot;build/img/slides/03.jpg&quot;); width: 836px; transform: translate3d(0px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="2">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-5">
		        		</div>
		        	</div>
		        </div>
		        <!-- Slides -->
		        <div class="swiper-slide" style="background-image: url(&quot;build/img/slides/01.jpg&quot;); width: 836px; transform: translate3d(-836px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="0">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-3" data-swiper-parallax="-100" style="transform: translate3d(-100px, 0px, 0px); transition-duration: 0ms;">
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide" style="background-image: url(&quot;build/img/slides/02.jpg&quot;); width: 836px; transform: translate3d(-1672px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="1">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-8" data-swiper-parallax="-100" style="transform: translate3d(-100px, 0px, 0px); transition-duration: 0ms;">
		        		</div>
		        	</div>
		        </div>
		        <div class="swiper-slide swiper-slide-prev" style="background-image: url(&quot;build/img/slides/03.jpg&quot;); width: 836px; transform: translate3d(-2508px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="2">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-5">
		        		</div>
		        	</div>
		        </div>
		    <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" style="background-image: url(&quot;build/img/slides/01.jpg&quot;); width: 836px; transform: translate3d(-3344px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="0">
		        	<div class="valign-wrapper fullscreen" style="height: 547px;">
		        		<div class="valign col-xs-offset-3" data-swiper-parallax="-100" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
		        		</div>
		        	</div>
		        </div></div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
		    <!-- If we need navigation buttons -->
		    <div class="swiper-button-prev"><i class="lil-chevron_left"></i></div>
		    <div class="swiper-button-next"><i class="lil-chevron_right"></i></div>
		</div>
	</div>
